/* Typography */
$font-family-primary: 'Inter', sans-serif;
$font-size-primary: 1.4rem;
$font-line-height-primary: 1.4rem;

$font-size-h1: 2.4rem;
$font-weight-h1: 600;
$line-height-h1: 2.9rem;
$letter-spacing-h1: 13.4px;

/* Font Colors */
$color-font-primary: #ffffff;
$color-font-secondary: #15E1CE;
$color-font-headline: #ffffff;
$color-font-light: #B2B5BE;
$color-font-medium: #87888C;
$color-font-dark: #707176;
$color-font-buy: #28A745;
$color-font-sell: #F44336;

/* General Backgrounds */
$color-background-main: #1E2735;
$color-background-secondary: #10121A;
$color-background-line: #242731;

/* Primary Button (The green one) */
$color-button-primary-background: rgba(21, 225, 206, 0.1);
$color-button-primary-font: #15E1CE;
$color-button-primary-border: #15E1CE;
$color-button-primary-background-hover: #15E1CE;
$color-button-primary-font-hover: #1A8481;
$color-button-primary-border-hover: #15E1CE;

/* Secondary Button (The gray one in search) */
$color-button-secondary-background: rgba(0, 0, 0, 0.1);
$color-button-secondary-font: #ffffff;
$color-button-secondary-border: rgba(255, 255, 255, 0.4);
$color-button-secondary-background-hover: rgba(0, 0, 0, 0.25);
$color-button-secondary-font-hover: #ffffff;
$color-button-secondary-border-hover: rgba(255, 255, 255, 0.55);

/* Search Bar */
$color-search-background: rgba(255, 255, 255, 0.1);
$color-search-font: rgba(255, 255, 255, 0.4);
$color-search-action-background: rgba(0, 0, 0, 0.1);
$color-search-action-border: rgba(255, 255, 255, 0.4);
$color-search-action-font: #ffffff;

/* Other colors */
$beta-background-color: #91F48D;
$beta-font-color: #030303;

/* Paddings and Margins */
$padding-body-mobile: 8px;
$padding-body-desktop: 10px;
$component-spacing: 8px;

/* General Border Radius */
$border-radius-primary: 8px;

/* Breakpoints */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
)